
<div class="container text-center" style="margin-top: 6rem;">
    <div class="text-center" >
        <div style="display:flex; flex-wrap: wrap-reverse;">
            <div class="p-2"  *ngFor="let movie of movies.results  | paginate: { itemsPerPage: 4, currentPage: page }">
                <app-card-movie
                image="https://image.tmdb.org/t/p/w185/{{movie.poster_path}}"  
                title="{{movie.title}}"
                description=" {{movie.overview}}">
                </app-card-movie> 
            </div>
        </div>
            
 
        
    </div > 
    <pagination-controls class="text-center" (pageChange)= "page = $event" previousLabel="Previous" nextLabel="Next">
    </pagination-controls>
</div>
